doctype html
html(lang="en")
    head
        include components/head
    body
        div.access
            form(action="" method = "POST")
                fieldset.formCard 
                    div.formCard__img
                        img(src="/img/Logo.svg", alt="")
                    p.titleForm Reset Password
                    if inputs 
                        each input in inputs 
                            div.input
                                input(type=`${input.type}` placeholder = `${input.placeHolder}` id=`${input.input}` name=`${input.input}`)
                                label=input.label

                        div.input-submit 
                            input(type="submit" value= "Send Access").btn.btn-action  
                        div.formCard__options 
                            a(href="/login")
                                img(src="/img/LeftArrow.svg", alt="")
                                p Back To Login